.type {
  &__lines {
    padding: $base-line-height;

    background: repeating-linear-gradient(to bottom, $gray-1, $gray-1 ($base-line-height - 0.05rem), $blue-5 ($base-line-height - 0.05rem), $blue-5 $base-line-height);
  }
  &__block {
    background: rgba($blue, 0.25);

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__h1 {
    @extend h1;
    color: $black;
  }
  &__h2 {
    @extend h2;
  }
  &__h3 {
    @extend h3;
  }
  &__h4 {
    @extend h4;
  }
}
