.style-guide {
  position: relative;
  left: 0;

  transition: left 0.3s cubic-bezier(.4,.2,.2,1.25);

  &--nav {
    left: $nav-width;
  }
}

.container {
  @include respond-to(large) {
    width: calc(100% - #{$nav-width});
    margin-right: 0;
    margin-left: auto;
  }
}

.content {
  @include pad;

  margin: 0 auto;
}
