// -----------------------------------------------------------------------------
// This file contains styles that are specific to the navigation.
// -----------------------------------------------------------------------------

.nav {
  @include pad;

  overflow-x: hidden;

  z-index: z(nav);

  width: 100%;

  @include respond-to(medium) {
    @include position(fixed, 0 null 0 0);

    width: $nav-width;

    background: $gray-1;
  }

  &__links {

    &--parent {
      display: flex;
      flex-flow: row nowrap;

      li {
        flex: 1;
      }
    }
    &--child {
      display: none;
    }
    
    @include respond-to(medium) {
      margin: 0;
      padding: 0;

      list-style-type: none;

      &--parent {
        display: inline-block;
      }
      &--child {
        display: inline-block;
      }
    }
  }
  &__link {

    &--section {
      @extend h4;

      margin-bottom: $h3-line-height * 0.25;

      &:not(:first-child) {
        margin-top: $h3-line-height * 0.25;
      }

      a, a:visited {
        color: $black;
      }
    }

    &--part {
      @include font(body-text);

      font-size: $base-font-size;
      line-height: $base-line-height;

      a, a:visited {
        color: $gray;
      }
    }
  }
}
