// -----------------------------------------------------------------------------
// This file contains styles that are specific to the navigation.
// -----------------------------------------------------------------------------

.nav {
  overflow-y: hidden;

  z-index: z(nav);

  width: rem(350);

  background: $gray-1;

  &__content {
    @include pad;

    width: rem(350);

    position: fixed;
    left: 0;
    top: 0;
  }

  &__links {
    margin: 0;
    padding: 0;

    list-style-type: none;
  }
  &__link {

    &--1 {
      @extend h3;

      margin-bottom: $h3-line-height * 0.5;
      margin-top: $h3-line-height * 0.5;

      a, a:visited {
        color: $black;
      }
    }

    &--2 {
      @include font(body-text);

      font-size: $base-font-size;
      line-height: $base-line-height;

      a, a:visited {
        color: $gray;
      }
    }
  }
}

.nav--open {
  .nav__bar {
    // left: $nav-width;
  }

  .nav__button-line {
    &:first-child {
      background: $blue-1;

      transform: rotateZ(135deg) translate(7px, -7px);
    }
    &:nth-child(2) {
      transform: rotateY(90deg);
    }
    &:last-child {
      transform: rotateZ(-135deg) translate(7px, 7px);
    }
  }

  .nav__content {
    left: 0;
  }
}
