footer.footer
  .footer__content
    .footer__social
      ul.footer__social-icons
        li
          a(href="//facebook.com/pages/Sea-Of-Green-Hydrogardens-Urban-Garden-Store/310918543121")
            i.fa.fa-facebook
        li
          a(href="//twitter.com/seaofgreenhydro")
            i.fa.fa-twitter
        li
          a(href="//instagram.com/seaofgreenhydro")
            i.fa.fa-instagram
        li
          a(href="//youtube.com/user/SeaOfGreenHydro")
            i.fa.fa-youtube-play
        li
          a(href="//plus.google.com/u/0/+Seaofgreenhydro/posts")
            i.fa.fa-google-plus
        li
          a(href="//handsonhydro.tumblr.com")
            i.fa.fa-tumblr
      form.footer__newsletter-signup.input-bar.input-bar--blue.input-bar--email(action="javascript:newsletterSignup()")
        input#footer__newsletter-signup-input(type="email", placeholder="Sign Up for Our Newsletter", required)
        button(type="submit")
    .footer__info
      p.footer__copyright &copy; 1992 &ndash; <span id="footer__copyright-year"></span> Sea of Green Hydrogardens
