nav.nav(role="navigation")

  .nav__bar
    .nav__button
      .nav__button-line
      .nav__button-line
      .nav__button-line
    span.nav__title= title

  ul.nav__links

    li.nav__link.nav__link--section
      a(href="/") Introduction

    each page, title in collections.pages

      li.nav__link.nav__link--section
        a(href="/#{page.slug}")= page.title

        if page.children
          ul
            each collection, name in collections
              if name == page.children
                for post in collection
                  li.nav__link.nav__link--part
                    a(href="/#{post.slug}")= post.title
