<h1 id="introduction">Introduction</h1>
<h3 id="a-brand-is-way-more-than-a-logo">A Brand is Way More Than a Logo</h3>
<p>Think about Coca-Cola. What does it look like? It probably looks to you like it does to me: white script on a red label on the most recognizably unique bottle on Earth. It might look like a red can or a fuzzy brown liquid in a top-heavy glass, but the point remains the same: you can conjure up an image of Coca-Cola in your head.</p>
<p>This is because Coca-Cola, or Coke, has one of the most recognizable brands in the world. You know exactly what the Coca-Cola logo looks like, even if you can’t draw it. And it extends beyond the logo too: you know the shade of red, the shape of the bottles and glasses, you know the tone of voice.</p>
<p>All of those things represent the Coke brand. And they’re applied consistently. You’ll never see a blue Coke can, or at the least you’d be very shocked if you did. That’s why you can picture Coke in your head: they helped you draw the picture.</p>
<h3 id="a-brand-is-a-system">A Brand is a System</h3>
<p>This guide exists to help you apply the Sea of Green brand with the same vigor. It will address things like color, typography, imagery, and tone of voice. Its goal is to help you make the Sea of Green brand as unique and recognizable as the Coke brand.</p>
<p>Think about Sea of Green. What does it look like?</p>

<hr>
<h1 id="logo">Logo</h1>
<p>While a brand is more than its logo, the logo is often the lynchpin of the brand. As such, the way it is used should be carefully considered. This section of the guide will help you do that.</p>
<h3 id="the-icon">The Icon</h3>
<p>A plant needs three things to grow: water, earth, and light. The flower icon in Sea of Green’s logo is both comprised of and representative of these elements. The icon’s colors were carefully, if obviously, chosen to drive that representation home – yellow for light, green for earth, blue for water.</p>
<p><img src="/images/2-logo_icon.png" alt="The icon."></p>
<h3 id="the-logotype">The Logotype</h3>
<p>Like the rest of the Sea of Green brand, the logotype is warm, welcoming, rational, and just a little bit quirky. The shapes of the letterforms were chosen to match the shapes of the icon. The color should always match the water (or sea) of the icon.</p>
<p><img src="/images/2-logo_type.png" alt="The logotype."></p>
<h2 id="logo-lockups">Logo Lockups</h2>
<p>A lockup is a specific way of arranging (or composing) seperate elements to fit a whole. The Sea of Green logo has two distinct lockups: a horizontal lockup that is the main way the logo is represented, and an alternate block lockup (“blockup”) that is used when horizontal space is limited. In addition, the icon and logotype may occassionally be used on their own.</p>
<p><img src="/images/2-logo_wide.png" alt="The horizontal lockup."></p>
<p><img src="/images/2-logo_block.png" alt="The blockup."></p>
<h2 id="spacing">Spacing</h2>
<p>The first thing we should respect when using the Sea of Green logo is the space around the logo. As the single most recognizable element of the brand, it’s important that it is seen as a visually distinct element on the page. In the diagram below, the minimum acceptable buffer margin surrounding each logo lockup is highlighted. All measurements are relative to the size of the logo, so it should be fairly easy to eyeball.</p>
<p><img src="/images/2-logo_spacing.png" alt="Spacing logo elements."></p>

<hr>
<h1 id="color">Color</h1>
<p>Color can be just as important as a logo in identifying a brand, and is perhaps the most important tool for conveying a brand’s attitude. Cooler colors like blue, for example, are often used to convey friendliness and calm; warmer colors such as red are used to indicate energy and passion.</p>
<h2 id="palette">Palette</h2>
<p>Our main accent color is an exceptionally calm dark cyan – PMS 632 C (<code>#0091b2</code> on the web). This color was chosen because of that calmness, but also because of it’s emotional warmth and stability.</p>
<p>The palette also includes a yellow (PMS 108 C / <code>#ffdb00</code>) &amp; green (PMS 368 C / <code>#77bc1f</code>) for use as secondary colors, and a not-quite-black (PMS Black 3 C / <code>#212620</code>) for text.</p>
<p>The blue, yellow, and green each have 5 shades, two lighter and two darker than the main shade. These are for illustration and background purposes only, and should not be used on text or the logo.</p>
<section class="color__palette">
  <!-- Yellow -->
  <h3>Yellow</h3>
    <div class="color__group">
      <div class="color__color">
        <div class="color__swatch color__swatch--yellow-1"></div>
        <span>PMS 106 C<br />
        <code>#fbe343</code><br />
        <code>$yellow-1</code></span>
      </div>
      <div class="color__color">
        <div class="color__swatch color__swatch--yellow-2"></div>
        <span>PMS 107 C<br />
        <code>#fee01e</code><br />
        <code>$yellow-2</code></span>
      </div>
    </div>
    <div class="color__color">
      <div class="color__swatch color__swatch--yellow-3"></div>
      <span>PMS 108 C<br />
      <code>#ffdb00</code><br />
      <code>$yellow</code></span>
    </div>
    <div class="color__group">
      <div class="color__color">
        <div class="color__swatch color__swatch--yellow-4"></div>
        <span>PMS 109 C<br />
        <code>#ffd100</code><br />
        <code>$yellow-4</code></span>
      </div>
      <div class="color__color">
        <div class="color__swatch color__swatch--yellow-5"></div>
        <span>PMS 110 C<br />
        <code>#dba900</code><br />
        <code>$yellow-5</code></span>
      </div>
    </div>
  <!-- green -->
  <h3>Green</h3>
    <div class="color__group">
      <div class="color__color">
        <div class="color__swatch color__swatch--green-1"></div>
        <span>PMS 366 C<br />
        <code>#b7dc78</code><br />
        <code>$green-1</code></span>
      </div>
      <div class="color__color">
        <div class="color__swatch color__swatch--green-2"></div>
        <span>PMS 367 C<br />
        <code>#a3d55d</code><br />
        <code>$green-2</code></span>
      </div>
    </div>
    <div class="color__color">
      <div class="color__swatch color__swatch--green-3"></div>
      <span>PMS 368 C<br />
      <code>#77bc1f</code><br />
      <code>$green</code></span>
    </div>
    <div class="color__group">
      <div class="color__color">
        <div class="color__swatch color__swatch--green-4"></div>
        <span>PMS 369 C<br />
        <code>#62a60a</code><br />
        <code>$green-4</code></span>
      </div>
      <div class="color__color">
        <div class="color__swatch color__swatch--green-5"></div>
        <span>PMS 370 C<br />
        <code>#648b1a</code><br />
        <code>$green-5</code></span>
      </div>
    </div>
  <!-- blue -->
  <h3>Blue</h3>
    <div class="color__group">
      <div class="color__color">
        <div class="color__swatch color__swatch--blue-1"></div>
        <span>PMS 630 C<br />
        <code>#76c3d4</code><br />
        <code>$blue-1</code></span>
      </div>
      <div class="color__color">
        <div class="color__swatch color__swatch--blue-2"></div>
        <span>PMS 631 C<br />
        <code>#3ab0c8</code><br />
        <code>$blue-2</code></span>
      </div>
    </div>
    <div class="color__color">
      <div class="color__swatch color__swatch--blue-3"></div>
      <span>PMS 632 C<br />
      <code>#0091b2</code><br />
      <code>$blue</code></span>
    </div>
    <div class="color__group">
      <div class="color__color">
        <div class="color__swatch color__swatch--blue-4"></div>
        <span>PMS 633 C<br />
        <code>#007197</code><br />
        <code>$blue-4</code></span>
      </div>
      <div class="color__color">
        <div class="color__swatch color__swatch--blue-5"></div>
        <span>PMS 634 C<br />
        <code>#005c82</code><br />
        <code>$blue-5</code></span>
      </div>
    </div>
  <!-- gray -->
  <h3>Grayscale</h3>
    <div class="color__color">
      <div class="color__swatch color__swatch--white"></div>
      <span>White<br />
      <code>#ffffff</code><br />
      <code>$white</code></span>
    </div>
    <div class="color__group">
      <div class="color__color">
        <div class="color__swatch color__swatch--gray-1"></div>
        <span>PMS 9080 C<br />
        <code>#e5e1db</code><br />
        <code>$gray-1</code></span>
      </div>
      <div class="color__color">
        <div class="color__swatch color__swatch--gray-2"></div>
        <span>PMS Warm Gray 1 C<br />
        <code>#c1b8af</code><br />
        <code>$gray-2</code></span>
      </div>
    </div>
    <div class="color__color">
      <div class="color__swatch color__swatch--gray-3"></div>
      <span>PMS Warm Gray 5 C<br />
      <code>#aea198</code><br />
      <code>$gray</code></span>
    </div>
    <div class="color__group">
      <div class="color__color">
        <div class="color__swatch color__swatch--gray-4"></div>
        <span>PMS Warm Gray 10 C<br />
        <code>#7b6d65</code><br />
        <code>$gray-4</code></span>
      </div>
      <div class="color__color">
        <div class="color__swatch color__swatch--gray-5"></div>
        <span>PMS 411 C<br />
        <code>#60504c</code><br />
        <code>$gray-5</code></span>
      </div>
    </div>
    <div class="color__color">
      <div class="color__swatch color__swatch--black"></div>
      <span>PMS Black 3 C<br />
      <code>#212620</code><br />
      <code>$black</code></span>
    </div>
  </div>
</section>

<h2 id="color-combinations">Color Combinations</h2>
<p>It’s important for the colors we use to be presented consistently, and in the most accessible way possible. There are several common color combinations we use at Sea of Green, all based off of our color palette. Of course, you are not limited to these color combinations. Any color combination using our palette is fine for illustrations, for example. For text-based applications, however, one of the below combinations should probably be used. If you <em>must</em> use a separate combination, it should first be checked against WebAIM’s <a href="http://webaim.org/resources/contrastchecker/">Color Contrast Checker</a> to ensure that the colors have enough contrast to be viewed by the widest audience possible.</p>
<p>Here are the most common color combinations we use:</p>
<h3 id="default-white-">Default (White)</h3>
<table>
<thead>
<tr>
<th>Background</th>
<th>Headers &amp; Links</th>
<th>Text</th>
</tr>
</thead>
<tbody>
<tr>
<td>White / <code>#ffffff</code></td>
<td>PMS 632 C / <code>#0091b2</code></td>
<td>PMS Black 3 C / <code>#212620</code></td>
</tr>
</tbody>
</table>
<section class="color__combo color__combo--white">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<h3 id="reverse">Reverse</h3>
<table>
<thead>
<tr>
<th>Background</th>
<th>Headers &amp; Links</th>
<th>Text</th>
</tr>
</thead>
<tbody>
<tr>
<td>PMS 411 C / <code>#60504c</code></td>
<td>PMS 108 C / <code>#ffdb00</code></td>
<td>White / <code>#ffffff</code></td>
</tr>
</tbody>
</table>
<section class="color__combo color__combo--black">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<h3 id="blue">Blue</h3>
<table>
<thead>
<tr>
<th>Background</th>
<th>Headers &amp; Links</th>
<th>Text</th>
</tr>
</thead>
<tbody>
<tr>
<td>PMS 632 C / <code>#0091b2</code></td>
<td>PMS 108 C / <code>#ffdb00</code></td>
<td>White / <code>#ffffff</code></td>
</tr>
</tbody>
</table>
<section class="color__combo color__combo--blue">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<h3 id="green">Green</h3>
<table>
<thead>
<tr>
<th>Background</th>
<th>Headers &amp; Links</th>
<th>Text</th>
</tr>
</thead>
<tbody>
<tr>
<td>PMS 368 C / <code>#77bc1f</code></td>
<td>White / <code>#ffffff</code></td>
<td>PMS Black 3 C / <code>#212620</code></td>
</tr>
</tbody>
</table>
<section class="color__combo color__combo--green">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<h3 id="grayscale">Grayscale</h3>
<table>
<thead>
<tr>
<th>Background</th>
<th>Headers &amp; Links</th>
<th>Text</th>
</tr>
</thead>
<tbody>
<tr>
<td>PMS Warm Gray 5 C / <code>#aea198</code></td>
<td>White / <code>#ffffff</code></td>
<td>PMS Black 3 C / <code>#212620</code></td>
</tr>
</tbody>
</table>
<section class="color__combo color__combo--gray">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<hr>
<h1 id="typography">Typography</h1>
<p>If you look at the <a data-scroll href="#color-combinations">color combinations</a> above, you may notice that the examples look remarkably alike, despite being (mostly) different colors. This is because Sea of Green follows a set of strict typography rules.</p>
<h2 id="font-families">Font Families</h2>
<p>The first of these rules is the font families we use. Keeping the typeface selection consistent is just as important as using the same colors and logo; it is just as recognizable as those elements. Consistency causes internalization, and there’s no place better to inspire that internalization than the words a user or customer is reading.</p>
<h3 id="heading-text">Heading Text</h3>
<p>For headers, we use a typeface called <a href="https://avondaletypeco.com/atc-overlook/">ATC Overlook</a>. Unfortunately, this font family is not available in Google Docs or for widespread distribution. We are working on a sign-making web application, but in the mean time you can <a href="mailto:alec@sea-of-green.com">contact us</a> for use in Microsoft Office products.</p>
<h3 id="body-text">Body Text</h3>
<p>Body text is set in <a href="https://www.google.com/fonts/specimen/Droid+Serif">Droid Serif</a>. Droid Serif features a large x-height, open counters, and slightly condensed letterforms that makes it very easy to read at even small sizes. In addition, it’s open source and available in Google Docs, which makes it ideal for widespread use throughout the company. <a href="https://support.google.com/docs/answer/189190?hl=en">Here is a guide for adding fonts to your Google Docs documents</a>.</p>
<h2 id="type-size">Type Size</h2>
<p>Size is another very important factor in maintaining consistency. Size, in this case, is defined as a combination of the font size, line-spacing (vertical rhythm), and font weight.</p>
<h3 id="font-size">Font Size</h3>
<p>Font size is determined using a modular scale. This is a technique that uses a ratio to determine a series of numbers that is used for sizing elements, the most famous example of which is the <a href="https://en.wikipedia.org/wiki/Golden_ratio">golden ratio</a>. The ratio we use is called the augmented fourth, or <code>1.414</code>. Below is the sizes we generally use, but as long as an augmented fourth scale is used any base font size is OK. <a href="http://www.modularscale.com/?11&amp;pt&amp;1.414&amp;web&amp;table">Here is a tool you can use to find the correct sequence based on any base font size</a>. Not that some values will need to be rounded.</p>
<table>
<thead>
<tr>
<th style="text-align:right"></th>
<th style="text-align:center">Web</th>
<th style="text-align:center">Print</th>
<th style="text-align:center">Large Print</th>
<th style="text-align:center">Huge Print</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:right"><strong>Heading 1</strong></td>
<td style="text-align:center"><code>45px (2.8725rem)</code></td>
<td style="text-align:center"><code>31pt</code></td>
<td style="text-align:center"><code>68pt</code></td>
<td style="text-align:center"><code>102pt</code></td>
</tr>
<tr>
<td style="text-align:right"><strong>Heading 2</strong></td>
<td style="text-align:center"><code>32px (1.9994rem)</code></td>
<td style="text-align:center"><code>22pt</code></td>
<td style="text-align:center"><code>48pt</code></td>
<td style="text-align:center"><code>72pt</code></td>
</tr>
<tr>
<td style="text-align:right"><strong>Heading 3</strong></td>
<td style="text-align:center"><code>23px (1.414rem)</code></td>
<td style="text-align:center"><code>16pt</code></td>
<td style="text-align:center"><code>34pt</code></td>
<td style="text-align:center"><code>51pt</code></td>
</tr>
<tr>
<td style="text-align:right"><strong>Heading 4</strong></td>
<td style="text-align:center"><code>16px (1rem)</code></td>
<td style="text-align:center"><code>11pt</code></td>
<td style="text-align:center"><code>24pt</code></td>
<td style="text-align:center"><code>36pt</code></td>
</tr>
<tr>
<td style="text-align:right"><strong>Base</strong></td>
<td style="text-align:center"><code>16px (1rem)</code></td>
<td style="text-align:center"><code>11pt</code></td>
<td style="text-align:center"><code>24pt</code></td>
<td style="text-align:center"><code>36pt</code></td>
</tr>
</tbody>
</table>
<h3 id="line-spacing">Line Spacing</h3>
<p>Vertical rhythm is a huge influencer on the way text is read. It’s important to give individual lines of text enough room to be read comfortably. For our part, we lay out all text on a baseline determined by the base font size (the number you use to determine heading sizes above) multiplied by <code>1.75</code>. For example, our web typography is laid out on a <code>28px (1.75rem)</code> baseline. Of course, headings two and three are too large to fit on that baseline, so they take up two lines, or <code>56px (3.5rem)</code>. For print, that would be <code>19pt</code> &amp; <code>38pt</code>, respectively. Below, you can see this represented visually.</p>
<section class="type__lines">
  <div class="type__block type__h1">Heading 1</div>
  <div class="type__block type__h2">Heading 2</div>
  <div class="type__block type__h3">Heading 3</div>
  <div class="type__block type__h4">Heading 4</div>
  <p class="type__block ">A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is assumed to be a hefty tenor. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p class="type__block ">A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<h3 id="font-weight">Font Weight</h3>
<p>Rounding out font sizes, consistent application of weights is also hugely important. Luckily, it’s also the easiest of the three principals to apply. Below is a table that shows the weights at the font sizes from above. Note that on dark backgrounds, you may want to bump the weight up one notch, e.g. Medium (500) to Semi-bold (600).</p>
<table>
<thead>
<tr>
<th>Heading 1</th>
<th>Heading 2</th>
<th>Heading 3</th>
<th>Heading 4</th>
<th>Base</th>
</tr>
</thead>
<tbody>
<tr>
<td>Bold (700)</td>
<td>Bold (700)</td>
<td>Medium (500)</td>
<td>Medium (500)</td>
<td>Regular (400)</td>
</tr>
</tbody>
</table>

<hr>
<h1 id="elements">Elements</h1>
<p>Of course, there are other pieces to the brand besides logo, color &amp; typography. Some of those things are, simply enough, referred to as design elements.</p>
<h2 id="block-quotes">Block Quotes</h2>
<p>Block quotes are typically used for quotes from an outside source that are longer than a sentence or two. They can also be used for testimonials, product line descriptions, and anything else not authored by Sea of Green.</p>
<h4 id="standard-block-quote">Standard Block Quote</h4>
<pre><code>&lt;blockquote&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/blockquote&gt;
</code></pre><blockquote>
<p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</blockquote>
<h4 id="block-quote-with-citation">Block Quote with Citation</h4>
<pre><code>&lt;blockquote&gt;
  &lt;p&gt;...&lt;/p&gt;
  &lt;cite&gt;&lt;a href=&quot;&quot;&gt;...&lt;/a&gt;&lt;/cite&gt;
&lt;/blockquote&gt;
</code></pre><blockquote>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
  <cite><a href="http://metaphorpsum.com/">Metaphorpsum</a></cite>
</blockquote>

<h4 id="block-quote-without-opening-quotation">Block Quote without Opening Quotation</h4>
<pre><code>&lt;blockquote class=&quot;no-quote&quot;&gt;
  &lt;p&gt;...&lt;/p&gt;
&lt;/blockquote&gt;
</code></pre><blockquote class="no-quote">
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</blockquote>

<h2 id="buttons">Buttons</h2>
<p>Buttons are clickable elements <em>that perform an action</em>. For example, if you have a clickable element that spawns an alert dialog, you should use a button. If you have a clickable element that takes you to another page (i.e., a hyperlink), use an anchor (<code>&lt;a&gt;</code>) element. A notable exception is when a link is <em>also</em> a call-to-action, e.g. links for checkout or pagination.</p>
<h4 id="standard-button">Standard Button</h4>
<pre><code>&lt;button class=&quot;btn&quot;&gt;...&lt;/button&gt;
</code></pre><button class="btn">Button</button>

<h4 id="reverse-button">Reverse Button</h4>
<pre><code>&lt;button class=&quot;btn btn--reverse&quot;&gt;...&lt;/button&gt;
</code></pre><button class="btn--reverse">Button</button>

<h4 id="white-button">White Button</h4>
<pre><code>&lt;button class=&quot;btn btn--white&quot;&gt;...&lt;/button&gt;
</code></pre><button class="btn--white">Button</button>

<h4 id="success-button">Success Button</h4>
<pre><code>&lt;button class=&quot;btn btn--success&quot;&gt;...&lt;/button&gt;
</code></pre><button class="btn--success">Success</button>

<h4 id="warning-button">Warning Button</h4>
<pre><code>&lt;button class=&quot;btn btn--warning&quot;&gt;...&lt;/button&gt;
</code></pre><button class="btn--warning">Button</button>

<h4 id="failure-button">Failure Button</h4>
<pre><code>&lt;button class=&quot;btn btn--fail&quot;&gt;...&lt;/button&gt;
</code></pre><button class="btn--fail">Button</button>

<h4 id="link-as-button">Link as Button</h4>
<pre><code>&lt;a class=&quot;btn&quot; href=&quot;...&quot;&gt;...&lt;/a&gt;
</code></pre><p><a class="btn" href="#">Link</a></p>
<h2 id="input-bar">Input Bar</h2>
<p>The input bar should be used for any actionable user input, e.g. newsletter signup and search bars.</p>
<h4 id="standard-input-bar">Standard Input Bar</h4>
<pre><code>&lt;form class=&quot;input-bar&quot;&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;...&quot; /&gt;
  &lt;button&gt;&lt;/button&gt;
&lt;/form&gt;
</code></pre><form class="input-bar">
  <input type="text" placeholder="An Input Bar" />
  <button></button>
</form>

<h4 id="search-bar">Search Bar</h4>
<pre><code>&lt;form class=&quot;input-bar input-bar--search&quot;&gt;
  &lt;input type=&quot;search&quot; placeholder=&quot;...&quot; /&gt;
  &lt;button&gt;&lt;/button&gt;
&lt;/form&gt;
</code></pre><form class="input-bar input-bar--search">
  <input type="search" placeholder="Type to Find a Product" />
  <button></button>
</form>

<h4 id="email-bar">Email Bar</h4>
<pre><code>&lt;form class=&quot;input-bar input-bar--email&quot;&gt;
  &lt;input type=&quot;email&quot; placeholder=&quot;...&quot; /&gt;
  &lt;button&gt;&lt;/button&gt;
&lt;/form&gt;
</code></pre><form class="input-bar input-bar--email">
  <input type="email" placeholder="Sign Up For Our Newsletter" />
  <button></button>
</form>

<h4 id="blue-input-bar">Blue Input Bar</h4>
<pre><code>&lt;form class=&quot;input-bar input-bar--blue&quot;&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;...&quot; /&gt;
  &lt;button&gt;&lt;/button&gt;
&lt;/form&gt;
</code></pre><form class="input-bar input-bar--blue">
  <input type="text" placeholder="An Input Bar" />
  <button></button>
</form>

<h4 id="success-input-bar">Success Input Bar</h4>
<pre><code>&lt;form class=&quot;input-bar input-bar--success&quot;&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;...&quot; /&gt;
  &lt;button&gt;&lt;/button&gt;
&lt;/form&gt;
</code></pre><form class="input-bar input-bar--success">
  <input type="text" placeholder="Success!" />
  <button></button>
</form>

<h4 id="warning-input-bar">Warning Input Bar</h4>
<pre><code>&lt;form class=&quot;input-bar input-bar--warning&quot;&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;...&quot; /&gt;
  &lt;button&gt;&lt;/button&gt;
&lt;/form&gt;
</code></pre><form class="input-bar input-bar--warning">
  <input type="text" placeholder="Warning" />
  <button></button>
</form>

<h4 id="failure-input-bar">Failure Input Bar</h4>
<pre><code>&lt;form class=&quot;input-bar input-bar--fail&quot;&gt;
  &lt;input type=&quot;text&quot; placeholder=&quot;...&quot; /&gt;
  &lt;button&gt;&lt;/button&gt;
&lt;/form&gt;
</code></pre><form class="input-bar input-bar--fail">
  <input type="text" placeholder="Failure :(" />
  <button></button>
</form>

<hr>
<h1 id="downloads">Downloads</h1>
<ul>
<li><a href="/downloads/logo.zip" download>Logos (<code>.zip</code>)</a></li>
<li><a href="/downloads/palette.pdf" download>Color Palette (<code>.pdf</code>)</a></li>
</ul>
<hr>
<h1 id="links">Links</h1>
<ul>
<li><a href="http://sea-of-green.com">Sea of Green Online Store</a></li>
<li><a href="http://trello.com/seaofgreen">Trello</a></li>
<li><a href="http://github.com/sea-of-green">GitHub</a></li>
<li><a href="http://handsonhydro.tumblr.com">Hands-on Hydro</a></li>
</ul>
