<h1 id="introduction">Introduction</h1>
<h3 id="a-brand-is-way-more-than-a-logo">A Brand is Way More Than a Logo</h3>
<p>Think about Coca-Cola. What does it look like? It probably looks to you like it does to me: white script on a red label on the most recognizably unique bottle on Earth. It might look like a red can or a fuzzy brown liquid in a top-heavy glass, but the point remains the same: you can conjure up an image of Coca-Cola in your head.</p>
<p>This is because Coca-Cola, or Coke, has one of the most recognizable brands in the world. You know exactly what the Coca-Cola logo looks like, even if you can’t draw it. And it extends beyond the logo too: you know the shade of red, the shape of the bottles and glasses, you know the tone of voice.</p>
<p>All of those things represent the Coke brand. And they’re applied consistently. You’ll never see a blue Coke can, or at the least you’d be very shocked if you did. That’s why you can picture Coke in your head: they helped you draw the picture.</p>
<h3 id="a-brand-is-a-system">A Brand is a System</h3>
<p>This guide exists to help you apply the Sea of Green brand with the same vigor. It will address things like color, typography, imagery, and tone of voice. Its goal is to help you make the Sea of Green brand as unique and recognizable as the Coke brand.</p>
<p>Think about Sea of Green. What does it look like?</p>
<h2 id="downloads">Downloads</h2>
<h2 id="links">Links</h2>
<ul>
<li>(Sea of Green Online Store)[<a href="http://sea-of-green.com">http://sea-of-green.com</a>]</li>
<li>(Trello)[<a href="http://trello.com/seaofgreen">http://trello.com/seaofgreen</a>]</li>
<li>(GitHub)[<a href="http://github.com/sea-of-green">http://github.com/sea-of-green</a>]</li>
<li>(Hands-on Hydro)[<a href="http://handsonhydro.tumblr.com">http://handsonhydro.tumblr.com</a>]</li>
</ul>

<hr>
<h1 id="logo">Logo</h1>
<p>While a brand is more than its logo, the logo is often the lynchpin of the brand. As such, the way it is used should be carefully considered. This section of the guide will help you do that.</p>
<h3 id="the-icon">The Icon</h3>
<p>A plant needs three things to grow: water, earth, and light. The flower icon in Sea of Green&#39;s logo is both comprised of and representative of these elements. The icon&#39;s colors were carefully, if obviously, chosen to drive that representation home -- yellow for light, green for earth, blue for water.</p>
<h3 id="the-logotype">The Logotype</h3>
<p>Like the rest of the Sea of Green brand, the logotype is warm, welcoming, rational, and just a little bit quirky. The shapes of the letterforms were chosen to match the shapes of the icon. The color should always match the water (or sea) of the icon.</p>
<h2 id="logo-lockups">Logo Lockups</h2>
<p>A lockup is a specific way of arranging (or composing) seperate elements to fit a whole. The Sea of Green logo has two distinct lockups: a horizontal lockup that is the main way the logo is represented, and an alternate block lockup (&quot;blockup&quot;) that is used when horizontal space is limited. In addition, the icon and logotype may occassionally be used on their own.</p>
<h2 id="spacing">Spacing</h2>
<p>The first thing we should respect when using the Sea of Green logo is the space around the logo. As the single most recognizable element of the brand, it’s important that it is seen as a visually distinct element on the page. In the diagram below, the minimum acceptable buffer margin surrounding each logo lockup is highlighted. All measurements are relative to the size of the logo, so it should be fairly easy to eyeball.</p>

<hr>
<h1 id="color">Color</h1>
<p>Color can be just as important as a logo in identifying a brand, and is perhaps the most important tool for conveying a brand&#39;s attitude. Cooler colors like blue, for example, are often used to convey friendliness and calm; warmer colors such as red are used to indicate energy and passion.</p>
<h2 id="palette">Palette</h2>
<p>Our main accent color is an exceptionally calm dark cyan – PMS 632 C (<code>#0091b2</code> on the web). This color was chosen because of that calmness, but also because of it&#39;s emotional warmth and stability.</p>
<p>The palette also includes a yellow (PMS 108 C / <code>#ffdb00</code>) &amp; green (PMS 368 C / <code>#77bc1f</code>) for use as secondary colors, and a not-quite-black (PMS Black 3 C / <code>#212620</code>) for text.</p>
<p>The blue, yellow, and green each have 5 shades, two lighter and two darker than the main shade. These are for illustration and background purposes only, and should not be used on text or the logo.</p>
<h2 id="color-combinations">Color Combinations</h2>
