<h1 id="introduction">Introduction</h1>
<h3 id="a-brand-is-way-more-than-a-logo">A Brand is Way More Than a Logo</h3>
<p>Think about Coca-Cola. What does it look like? It probably looks to you like it does to me: white script on a red label on the most recognizably unique bottle on Earth. It might look like a red can or a fuzzy brown liquid in a top-heavy glass, but the point remains the same: you can conjure up an image of Coca-Cola in your head.</p>
<p>This is because Coca-Cola, or Coke, has one of the most recognizable brands in the world. You know exactly what the Coca-Cola logo looks like, even if you can’t draw it. And it extends beyond the logo too: you know the shade of red, the shape of the bottles and glasses, you know the tone of voice.</p>
<p>All of those things represent the Coke brand. And they’re applied consistently. You’ll never see a blue Coke can, or at the least you’d be very shocked if you did. That’s why you can picture Coke in your head: they helped you draw the picture.</p>
<h3 id="a-brand-is-a-system">A Brand is a System</h3>
<p>This guide exists to help you apply the Sea of Green brand with the same vigor. It will address things like color, typography, imagery, and tone of voice. Its goal is to help you make the Sea of Green brand as unique and recognizable as the Coke brand.</p>
<p>Think about Sea of Green. What does it look like?</p>
<h2 id="downloads">Downloads</h2>
<h2 id="links">Links</h2>
<ul>
<li><a href="http://sea-of-green.com">Sea of Green Online Store</a></li>
<li><a href="http://trello.com/seaofgreen">Trello</a></li>
<li><a href="http://github.com/sea-of-green">GitHub</a></li>
<li><a href="http://handsonhydro.tumblr.com">Hands-on Hydro</a></li>
</ul>

<hr>
<h1 id="logo">Logo</h1>
<p>While a brand is more than its logo, the logo is often the lynchpin of the brand. As such, the way it is used should be carefully considered. This section of the guide will help you do that.</p>
<h3 id="the-icon">The Icon</h3>
<p>A plant needs three things to grow: water, earth, and light. The flower icon in Sea of Green’s logo is both comprised of and representative of these elements. The icon’s colors were carefully, if obviously, chosen to drive that representation home – yellow for light, green for earth, blue for water.</p>
<p><img src="/images/2-logo_icon.png" alt="The icon."></p>
<h3 id="the-logotype">The Logotype</h3>
<p>Like the rest of the Sea of Green brand, the logotype is warm, welcoming, rational, and just a little bit quirky. The shapes of the letterforms were chosen to match the shapes of the icon. The color should always match the water (or sea) of the icon.</p>
<p><img src="/images/2-logo_type.png" alt="The logotype."></p>
<h2 id="logo-lockups">Logo Lockups</h2>
<p>A lockup is a specific way of arranging (or composing) seperate elements to fit a whole. The Sea of Green logo has two distinct lockups: a horizontal lockup that is the main way the logo is represented, and an alternate block lockup (“blockup”) that is used when horizontal space is limited. In addition, the icon and logotype may occassionally be used on their own.</p>
<p><img src="/images/2-logo_wide.png" alt="The horizontal lockup."></p>
<p><img src="/images/2-logo_block.png" alt="The blockup."></p>
<h2 id="spacing">Spacing</h2>
<p>The first thing we should respect when using the Sea of Green logo is the space around the logo. As the single most recognizable element of the brand, it’s important that it is seen as a visually distinct element on the page. In the diagram below, the minimum acceptable buffer margin surrounding each logo lockup is highlighted. All measurements are relative to the size of the logo, so it should be fairly easy to eyeball.</p>
<p><img src="/images/2-logo_spacing.png" alt="Spacing logo elements."></p>

<hr>
<h1 id="color">Color</h1>
<p>Color can be just as important as a logo in identifying a brand, and is perhaps the most important tool for conveying a brand’s attitude. Cooler colors like blue, for example, are often used to convey friendliness and calm; warmer colors such as red are used to indicate energy and passion.</p>
<h2 id="palette">Palette</h2>
<p>Our main accent color is an exceptionally calm dark cyan – PMS 632 C (<code>#0091b2</code> on the web). This color was chosen because of that calmness, but also because of it’s emotional warmth and stability.</p>
<p>The palette also includes a yellow (PMS 108 C / <code>#ffdb00</code>) &amp; green (PMS 368 C / <code>#77bc1f</code>) for use as secondary colors, and a not-quite-black (PMS Black 3 C / <code>#212620</code>) for text.</p>
<p>The blue, yellow, and green each have 5 shades, two lighter and two darker than the main shade. These are for illustration and background purposes only, and should not be used on text or the logo.</p>
<h2 id="color-combinations">Color Combinations</h2>
<p>It’s important for the colors we use to be presented consistently, and in the most accessible way possible. There are several common color combinations we use at Sea of Green, all based off of our color palette. Of course, you are not limited to these color combinations. Any color combination using our palette is fine for illustrations, for example. For text-based applications, however, one of the below combinations should probably be used. If you <em>must</em> use a separate combination, it should first be checked against WebAIM’s <a href="http://webaim.org/resources/contrastchecker/">Color Contrast Checker</a> to ensure that the colors have enough contrast to be viewed by the widest audience possible.</p>
<p>Here are the most common color combinations we use:</p>
<h3 id="default-white-">Default (White)</h3>
<ul>
<li>Background: White / <code>#ffffff</code></li>
<li>Headers &amp; Links: PMS 632 C / <code>#0091b2</code></li>
<li>Text: PMS Black 3 C / <code>#212620</code></li>
</ul>
<h4 id="example">Example</h4>
<section class="color__combo color__combo--white">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<h3 id="reverse">Reverse</h3>
<ul>
<li>Background: PMS 411 C / <code>#60504c</code></li>
<li>Headers &amp; Links: PMS 108 C / <code>#ffdb00</code></li>
<li>Text: White / <code>#ffffff</code></li>
</ul>
<h4 id="example">Example</h4>
<section class="color__combo color__combo--black">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<h3 id="blue">Blue</h3>
<ul>
<li>Background: PMS 632 C / <code>#0091b2</code></li>
<li>Headers &amp; Links: PMS 108 C / <code>#ffdb00</code></li>
<li>Text: White / <code>#ffffff</code></li>
</ul>
<h4 id="example">Example</h4>
<section class="color__combo color__combo--blue">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<h3 id="green">Green</h3>
<ul>
<li>Background: PMS 368 C / <code>#77bc1f</code></li>
<li>Headers &amp; Links: White / <code>#ffffff</code></li>
<li>Text: PMS Black 3 C / <code>#212620</code></li>
</ul>
<h4 id="example">Example</h4>
<section class="color__combo color__combo--green">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<h3 id="grayscale">Grayscale</h3>
<ul>
<li>Background: PMS Warm Gray 5 C / <code>#aea198</code></li>
<li>Headers &amp; Links: White / <code>#ffffff</code></li>
<li>Text: PMS Black 3 C / <code>#212620</code></li>
</ul>
<h4 id="example">Example</h4>
<section class="color__combo color__combo--gray">
  <span class="color__combo-header">Header</span>
  <span class="color__combo-subhead">Sub Header</span>
  <p>A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is <a href="#">assumed to be a hefty tenor</a>. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p>A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>

<hr>
<h1 id="typography">Typography</h1>
<p>If you look at the <a href="#color-combinations">color combinations</a> above, you may notice that the examples look remarkably alike, despite being (mostly) different colors. This is because Sea of Green follows a set of strict typography rules.</p>
<h2 id="font-families">Font Families</h2>
<h2 id="type-size">Type Size</h2>
<h3 id="the-modular-scale">The Modular Scale</h3>
<table>
<thead>
<tr>
<th style="text-align:right"></th>
<th style="text-align:center">Web (<code>px</code>)</th>
<th style="text-align:center">Web(<code>rem</code>)</th>
<th style="text-align:center">Print</th>
<th style="text-align:center">Large Print</th>
<th style="text-align:center">Huge Print</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:right"><strong>Heading 1</strong></td>
<td style="text-align:center"><code>45px</code></td>
<td style="text-align:center"><code>2.8725rem</code></td>
<td style="text-align:center"><code>31pt</code></td>
<td style="text-align:center"><code>68pt</code></td>
<td style="text-align:center"><code>102pt</code></td>
</tr>
<tr>
<td style="text-align:right"><strong>Heading 2</strong></td>
<td style="text-align:center"><code>32px</code></td>
<td style="text-align:center"><code>1.9994rem</code></td>
<td style="text-align:center"><code>22pt</code></td>
<td style="text-align:center"><code>48pt</code></td>
<td style="text-align:center"><code>72pt</code></td>
</tr>
<tr>
<td style="text-align:right"><strong>Heading 3</strong></td>
<td style="text-align:center"><code>23px</code></td>
<td style="text-align:center"><code>1.414rem</code></td>
<td style="text-align:center"><code>16pt</code></td>
<td style="text-align:center"><code>34pt</code></td>
<td style="text-align:center"><code>51pt</code></td>
</tr>
<tr>
<td style="text-align:right"><strong>Heading 4</strong></td>
<td style="text-align:center"><code>16px</code></td>
<td style="text-align:center"><code>1rem</code></td>
<td style="text-align:center"><code>11pt</code></td>
<td style="text-align:center"><code>24pt</code></td>
<td style="text-align:center"><code>36pt</code></td>
</tr>
<tr>
<td style="text-align:right"><strong>Base</strong></td>
<td style="text-align:center"><code>16px</code></td>
<td style="text-align:center"><code>1rem</code></td>
<td style="text-align:center"><code>11pt</code></td>
<td style="text-align:center"><code>24pt</code></td>
<td style="text-align:center"><code>36pt</code></td>
</tr>
</tbody>
</table>
<h3 id="line-spacing">Line Spacing</h3>
<section class="type__lines">
  <div class="type__block type__h1">Heading 1</div>
  <div class="type__block type__h2">Heading 2</div>
  <div class="type__block type__h3">Heading 3</div>
  <div class="type__block type__h4">Heading 4</div>
  <p class="type__block ">A vise is a heinous shovel. The loaded engine reveals itself as an afire island to those who look. A station of the colt is assumed to be a hefty tenor. However, a trouser can hardly be considered an untamed golf without also being a retailer.</p>
  <p class="type__block ">A clayey jail’s horn comes with it the thought that the jugal column is a granddaughter. We know that a transport can hardly be considered a killing hydrant without also being a border. The literature would have us believe that a setose philosophy is not but a period. A moneyed health without juices is truly a carp of fiercest romanians.</p>
</section>
