// -----------------------------------------------------------------------------
// This file contains styles that are specific to the footer.
// -----------------------------------------------------------------------------
// HTML:
// <footer>
//   <div class="footer-content">...</div>
// </footer>

footer {
  @include fill-parent;
  background: $blue;
  background: linear-gradient(to bottom, $blue, $blue-5);
  color: $white;
  a {
    color: $white;
    &:hover {
      color: $blue-1;
    }
  }
}
.footer-content {
  @include outer-container;
}
