// -----------------------------------------------------------------------------
// This file contains any @font-face declarations.
// -----------------------------------------------------------------------------

// ATC Overlook

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-Regular",
  $weight: 400,
  $file-formats: eot otf ttf woff);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-Italic",
  $weight: 400,
  $style: italic,
  $file-formats: eot otf ttf woff);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-Medium",
  $weight: 500,
  $file-formats: eot otf ttf woff);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-MediumItalic",
  $weight: 500,
  $style: italic,
  $file-formats: eot otf ttf woff);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-Bold",
  $weight: 700,
  $file-formats: eot otf ttf woff);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-BoldItalic",
  $weight: 700,
  $style: italic,
  $file-formats: eot otf ttf woff);

// ATC Overlook (WOFF2)

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-Regular-webfont",
  $weight: 400,
  $file-formats: woff2);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-Italic-webfont",
  $weight: 400,
  $style: italic,
  $file-formats: woff2);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-Medium-webfont",
  $weight: 500,
  $file-formats: woff2);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-MediumItalic-webfont",
  $weight: 500,
  $style: italic,
  $file-formats: woff2);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-Bold-webfont",
  $weight: 700,
  $file-formats: woff2);

@include font-face(
  "Overlook",
  "/fonts/ATCOverlook-BoldItalic-webfont",
  $weight: 700,
  $style: italic,
  $file-formats: woff2);
