// -----------------------------------------------------------------------------
// This file contains typographic styles.
// -----------------------------------------------------------------------------
// link: http://codepen.io/lowmess/full/ZbzbMY

// BODY TEXT & HEADERS
// ===================

body {
  @include font(body-text);

  font-size: $base-font-size;
  line-height: $base-line-height;

  color: $black;
}

h1 {
  @include font(heading-text, bold);

  font-size: $h1-font-size;
  line-height: $h1-line-height;

  @include respond-to(medium) {
    font-size: $lg-h1-font-size;
  }

  text-transform: capitalize;
  color: $blue;
  letter-spacing: -0.025em;

  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}
h2 {
  @include font(heading-text, bold);

  font-size: $h2-font-size;
  line-height: $h2-line-height;

  @include respond-to(medium) {
    font-size: $lg-h2-font-size;
  }

  text-transform: capitalize;
  letter-spacing: -0.025em;

  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}
h3 {
  @include font(heading-text, medium);

  font-size: $h3-font-size;
  line-height: $h3-line-height;
  letter-spacing: 0.01em;

  @include respond-to(medium) {
    font-size: $lg-h3-font-size;
  }

  text-transform: capitalize;

  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}
h4, h5, h6 {
  @include font(heading-text, medium);

  font-size: $h4-font-size;
  line-height: $h4-line-height;

  @include respond-to(medium) {
    font-size: $lg-h4-font-size;
  }

  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}
h4 {
  text-transform: capitalize;
}
h5 {
  text-transform: uppercase;
}
h6 {
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
p, ul, ol, pre, table, blockquote {
  margin-top: $base-line-height;
  margin-bottom: $base-line-height;
}

// TYPOGRAPHICAL ELEMENTS
// ======================

hr {
  border: 0 hidden;
  margin: -1px auto;
  height: 2px;
  background: $blue;
  width: 95%;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}
small {
  font-size: $small-font-size;
  line-height: $small-line-height;

  @include respond-to(medium) {
    font-size: $lg-small-font-size;
  }
}

code {
  @include font(mono);

  margin: 0 1px;
  padding: 2px 3px;

  border-radius: 3px;
  background: $gray-1;
}
pre {
  background: $gray-1;
  border-radius: 3px;
  padding: 0 1rem;
  width: 100%;
  overflow-x: auto;

  code {
    margin: 0;
    padding: 0;
    background: none;
  }
}

blockquote {
  padding: $base-font-size*0.5 $base-font-size;

  border-left: 5px solid $gray-1;

  p {
    font-style: italic;

    em {
      font-style: normal;
    }

    &:first-of-type {
      margin-top: 0;

      &:before {
        content: "\201C";
        font-size: $h1-font-size;
        line-height: 0;
        margin: 0 2.75rem 0 -3.8rem;
        vertical-align: $h1-font-size * -0.3;
        color: $gray-1;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  cite, & + cite {
    text-align: right;
    font-style: normal;
    display: block;

    &:before {
      content: "\2014\0020";
    }
  }
}

// BODY LINKS
// ==========

a {
  text-decoration: none;
  color: $blue;

  &:visited {
    color: $gray;
  }

  @include on-event {
    color: $blue;
    border-bottom: 0.1em solid currentColor;
  }

  &:active {
    color: $blue-5;
  }
}
