doctype html
html
  head
    include partials/_head.jade
  body
    include partials/_nav.jade

    main(role="main", class="content")
      h1= title
      if contents
        section= contents
      if collections
        h3 Contents:
        each collection, title in collections
          if title == children
            ul
              for post in collection
                li
                  a(href="/#{post.slug}")= post.title
      else
        p Oops! There's nothing here. <a href="/">Go home</a>?

    include partials/_footer.jade
    include partials/_scripts.jade
