doctype html
html
  head
    include partials/_head.jade
  body
    include partials/_nav.jade

    main(role="main", class="content")
      block content
        h1 Oops!
        p Nothing to see here. <a href="/">Go home</a>?

    include partials/_footer.jade
    include partials/_scripts.jade
