doctype html
html
  head
    include partials/_head.jade
  body.style-guide
    include partials/_nav.jade
    .container

      main(role="main", class="content")

        if contents
          h1= title
          != contents
        else
          h1 Oops!
          h2 Looks like we've misplaced something.
          a(href="/"): img(src="http://i.giphy.com/25quInpfBuSRi.gif")

      include partials/_footer.jade
    include partials/_scripts.jade
