// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

 // Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *::before, *::after {
  box-sizing: inherit;
}

// Probably irrelevant <body> reset
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

// <img> sanitization
img {
  max-height: 90vh;
  width: auto;
  max-width: 100%;
}
